@using tnpd.Models
@using TnpdModels

@{
    ViewBag.Title = "上傳檔案太大";
 
    WebPresentation web = new WebPresentation("tnpd");
}
<div class="row">
    
    <div class="form-group" style="word-break: break-all;">
        <span class="text-danger">【檔案上傳限制】</span><br>
        1. 3個檔案加總請勿超過50MB，附檔檔名請使用半形英數字命名。<br>
        2. 僅支援圖片以及影片檔案，例如：（*.avi, *.mp4, *.wmv, *.mov, *.3gp, *.jpeg, *.jpg, *.png, *.gif, *.bmp）餘請轉換壓縮檔（*.zip, *.rar）再上傳。
    </div>
    <a href="/TrafficMailbox/Create?checkRead=agree&id=b591d651-e97c-70ae-1e46-b8b0a7d23064">回首長交通檢舉信箱</a>
</div>
