<div class="row">
    <div class="col-12">

        (有 <span class="text-danger">*</span> 號請務必填寫)

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-form-label" for="input"><span class="text-danger">*</span>
                    參觀機關：</label>
                <select id="inputState" class="form-control">
                    <option selected>總局</option>
                    <option>第一分局</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label" for="input4"><span class="text-danger">*</span>
                    申請單位名稱：</label>
                <input type="text" class="form-control" id="input4" placeholder="請輸入申請單位名稱">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-form-label" for="input"><span class="text-danger">*</span>
                    聯絡人：</label>
                <input type="text" class="form-control" id="input4" placeholder="請輸入聯絡人">
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label" for="input4"><span class="text-danger">*</span>
                    聯絡電話：</label>
                <input type="text" class="form-control" id="input4" placeholder="請輸入聯絡電話">
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="inputAddress"><span class="text-danger">*</span>
                E-Mail：</label>
            <input type="email" class="form-control" id="inputAddress" placeholder="請輸入E-Mail">
        </div>

        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                <label class="col-form-label" for="inputCity"><span class="text-danger">*</span>
                    預定參觀人數：</label>
                <input type="text" class="form-control" id="inputCity" placeholder="參觀人數">
            </div>
            <div class="form-group col-md-3 mb-0">
                <label class="col-form-label" for="inputState"><span class="text-danger">*</span>
                    預定參觀日期：</label>
                <input type="text" class="form-control" id="inputCity" placeholder="107-10-09">
            </div>
            <div class="form-group col-md-6 mb-0">
                <label class="col-form-label" for="inputZip"><span class="text-danger">*</span>
                    預定參觀時間：</label>
                <div class="form-row">
                    <div class="form-group col-auto">
                        <select id="inputState" class="form-control">
                            <option selected>9:00</option>
                            <option>00:00</option>
                        </select>
                    </div>
                    <div class="form-group col-auto align-self-center">~</div>
                    <div class="form-group col-auto">
                        <select id="inputState" class="form-control">
                            <option selected>10:00</option>
                            <option>00:00</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="inputAddress">備註：</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="form-row  mt-4">
            <label class="col-form-label" for="input"><span class="text-danger">*</span>
                驗證碼：</label>

            <div class="form-group col-auto">
                <img src="images/new/CaptchaImage.jpg">
            </div>
            <div class="form-group col-md-3">
                <input type="text" class="form-control" id="input4" placeholder="請輸入驗證碼">
            </div>

        </div>

        <div class="hrline"></div>

        <div class="form-row justify-content-center">
            <div class="col-auto">
                <button type="button" class="btn btn-info">送出</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary">清除</button>
            </div>
        </div>

    </div>
</div>

