
<!--內容開始-->
<div class="row">
    <div class="col-12">

        <div id="pricing-switch" class="pricing clearfix mt-3">
            @using (Html.BeginForm("Create", "ChiefMailbox", FormMethod.Get, new { @class = "form form-vaild form-aligned trailer" }))
            {
                @Html.AntiForgeryToken()
                <div class="pricing-box">
                    <div class="pricing-title">
                        <h3 class="text-info">線上受理民眾陳情案件聲明</h3>
                    </div>

                    <div class="pricing-features">
                        歡迎使用本局首長信箱，為維護陳情人及被陳情人權益，避免浪費行政資源，請詳閱以下注意事項並配合辦理：

                    <ul>
                        <li>如需緊急處理之案件，仍建議請以110電話報案為宜。
                        </li>
                        <li>建議事項請求簡潔、明確，且以真實案件為限，請儘量一次反映一件事情，以利案件處理，本局不受理非理性情緒發洩、漫罵及惡意檢舉之案件，內容嚴禁刊登廣告、從事商業及詐騙等行為，本局並保留刪除的權利。
                        </li>
                        <li>依「行政院暨所屬各機關處理人民陳情案件要點」，人民陳情案件有下列情形之一者，受理機關得依分層負責權限規定，不予處理，但仍應予以登記，以利查考：
                            <br>
                            （一）無具體內容、未具姓名或住址者。<br>
                            （二）同一事由，經予適當處理，並已明確答復後，而仍一再陳情者。<br>
                            （三）經查證所留姓名、住址、聯絡電話或電子郵件位址屬偽冒、匿名虛報或不實者。<br>
                            （四）非陳情事項之主管機關，接獲陳情人以同一事由已分向各主管機關陳情者。
                        </li>
                        <li>因Yahoo、Hotmail、Gmail等免費信箱可能將本站的答覆信誤認為廣告信件，若您未收到本局回覆，可至「垃圾郵件」，或至民意廣場「案件查詢」輸入電子郵件及案號，即可查詢案件處理情形。</li>
                        <li>在您反應問題之前，請先參閱下表，向正確權責機關建議，以免延誤您寶貴意見之處理時效。
                        </li>
                    </ul>

                    <table class="table table-bordered">
            <thead>
            <tr class="bg-secondary text-center text-white">
                <th> </th>
                <th>反映問題 </th>
                <th>權責機關 </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>國道高速公路車輛違規</td>
                <td><a href="https://www.hpb.gov.tw/" target="_blank" title="內政部警政署國道公路警察局(另開視窗)">內政部警政署國道公路警察局</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>闖越平交道及高鐵站、火車站內</td>
                <td><a href="https://www.rpb.gov.tw/" target="_blank" title="內政部警政署鐵路警察局(另開視窗)">內政部警政署鐵路警察局</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>加工出口區、科學園區相關案類</td>
                <td><a href="https://www.spsh.gov.tw/spsh/homeweb/index.php" target="_blank" title="內政部警政署保安警察第二總隊(另開視窗)">內政部警政署保安警察第二總隊</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>水庫及國家公園相關案類</td>
                <td><a href="https://www.7spc.gov.tw/" target="_blank" title="內政部警政署保安警察第七總隊(另開視窗)">內政部警政署保安警察第七總隊</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>設置或維修號誌、劃線（測速照相為警察局），公有停車場</td>
                <td><a href="https://traffic.tainan.gov.tw/" target="_blank" title="臺南市政府交通局(另開視窗)">臺南市政府交通局</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>道路挖掘、違規施工、行道樹、路燈</td>
                <td><a href="http://publicworks.tainan.gov.tw/convenience.aspx" target="_blank" title="臺南市政府工務局(另開視窗)">臺南市政府工務局</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>公園綠地內騎車未戴安全帽</td>
                <td><a href="http://publicworks.tainan.gov.tw/convenience.aspx" target="_blank" title="臺南市政府工務局(另開視窗)">臺南市政府工務局</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>流浪動物導致髒亂</td>
                <td><a href="https://ahipo.tainan.gov.tw/" target="_blank" title="臺南市政府動物防疫保護處(另開視窗)">臺南市政府動物防疫保護處</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>煙火爆竹管制</td>
                <td><a href="http://119.tainan.gov.tw/" target="_blank" title="臺南市政府消防局(另開視窗)">臺南市政府消防局 </a></td>
            </tr>
            <tr>
                <td>10</td>
                <td>無牌報廢車（有牌為警察局）環境保護局</td>
                <td><a href="http://www.tnepb.gov.tw/mode03.asp?m=201108230944201&t=sub" target="_blank" title="臺南市政府環境保護局(另開視窗)">臺南市政府環境保護局</a></td>
            </tr>
            <tr>
                <td>11</td>
                <td>持續性噪音(如營業場所、工程、工廠等)及廟會噪音</td>
                <td><a href="http://www.tnepb.gov.tw/mode03.asp?m=201108230944201&t=sub" target="_blank" title="臺南市政府環境保護局(另開視窗)">臺南市政府環境保護局</a></td>
            </tr>
            <tr>
                <td>12</td>
                <td>亂丟垃圾，餵食流浪動物導致髒亂</td>
                <td><a href="http://www.tnepb.gov.tw/mode03.asp?m=201108230944201&t=sub" target="_blank" title="臺南市政府環境保護局(另開視窗)">臺南市政府環境保護局</a></td>
            </tr>
            <tr>
                <td>13</td>
                <td>其他縣市交通違規檢舉及申訴</td>
                <td><a href="https://www.npa.gov.tw/NPAGip/wSite/ct?xItem=78008&ctNode=12869" target="_blank" title="其他縣市警察局(另開視窗)">其他縣市警察局</a></td>
            </tr>
            </tbody>
        </table>

                        <div class="form-group form-check">

                            <input type="checkbox" class="form-check-input" id="checkRead" name="checkRead" value="agree" data-val="true" data-val-mandatory="請同意使用規則" required>
                            <label class="form-check-label" for="checkRead">
                                <span class="text-danger">我已詳閱
                            上述條款並同意負相關刑民事責任</span></label>
                            <span class="field-validation-valid" data-valmsg-for="checkRead" data-valmsg-replace="true"></span>
                        </div>

                    </div>


                   <input type="hidden" name="id" value="@ViewBag.UnId"/>
                    <div class="pricing-action">
                        <button type="submit" class="btn btn-info">下一步</button>
                    </div>


                </div>
            }
        </div>

    </div>
</div>
<script>
    //驗證讓CHECKBOX可過
    $(function () {
        //REF: http://bit.ly/hySvLa
        $.validator.unobtrusive.adapters.addBool("mandatory", "required");
    });

</script>
<script src="/js/jquery.validate.js"></script>

<script src="/js/jquery.validate.unobtrusive.js"></script>


<!--內容結束-->

