@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<textarea name="myVal" cols="40" rows="5"></textarea>

<input type="submit" value="go"/>
<span style="color: red">@ViewBag.message</span>
}

