@{
    ViewBag.Title = "Manage";
}

<h2>系統效能</h2>
<div style="padding-bottom: 10px">
    <a href="https://analytics.google.com" target="_blank" >Google 流量分析</a>

</div>
<div style="padding-bottom: 10px">
    <a href="https://search.google.com/search-console?resource_id=https%3A%2F%2Fwww.tnpd.gov.tw%2F&hl=zh-TW" target="_blank">Google search console</a>
</div>
<div style="padding-bottom: 10px">
    <a href="https://cse.google.com.tw/cse/all" target="_blank">Google 站內搜尋</a>

</div>
