@{
    ViewBag.Title = "防空疏散避難設施地圖";
}
<div class="row">
    <div style="color: red">
<h4 class="h4title" style="color: red">特別提醒</h4>

    <ul class="ultxt">
        <li>本專區是為了讓市民能於平時熟悉各種防空避難位置，而非代表隨時可進人避難。由於防空疏散避難設施多位於大樓地下室，平時受憲法賦予個人財產權之保障，未經所有權人同意，請勿擅自進入查看。
        </li>
        <li>只有於防空演習、戰爭發生或將發生時由國防部發布管制疏散之命令後，才能開放進入避難。
        </li>

    </ul>
    </div>
    

    <div class="col-12">
        <p class="mb-2">當您選擇行政區位置或選取轄區分局，本系統將提供您行政區內防空疏散避難設施地圖資訊。</p>

        <div class="form-row mt-2">
            <label class="col-form-label" for="orgs">依照分局搜尋：</label>
            <div class="form-group col-auto">
                <select name="orgs" id="orgs" class="form-control"></select>
            </div>
            <div class="form-group col-auto">
                <input type="button" class="btn btn-secondary" value="搜尋" id="orgsSend">
            </div>
        </div>

        <div class="form-row mt-1">
            <label class="col-form-label" for="towns">依照地區搜尋：</label>
            <div class="form-group col-auto">
                <select name="towns" id="district" class="form-control"></select>

            </div>
            <div class="form-group col-auto">
                <select name="towns" id="village" class="form-control"></select>

            </div>

            <div class="form-group col-auto">

                <input type="button" class="btn btn-secondary" value="搜尋" id="townsSend">
            </div>
        </div>


        <p class="mb-2">
            您也可輸入精確地址，或地標(例如:奇美博物館)，本系統將提供距離您輸入位置3公里內之防空疏散避難設施地圖資訊。
        </p>

        <div class="form-row mt-2">
            <label class="col-form-label" for="keywordText">請輸入地址或地標：</label>
            <div class="form-group col-auto">
                <input type="text" id="keywordText" class="form-control" placeholder="請輸入地址或地標">
            </div>
            <div class="form-group col-auto">
                <input type="button" class="btn btn-secondary" value="搜尋" id="keywordSend">
            </div>
        </div>
        <span style="color: red" id="message"></span>
        <div id="map" style="height: 500px; width: 100%;" class="mt-3"></div>
    </div>
</div>
<div>
    <p>
<table class="table table-hover tablestyle rwd-table" id="rTable">
        <thead>
        <tr>
            <th class="w-10">區別</th>

            <th class="w-10">里別</th>
            <th class="w-10">名稱</th>
            <th class="w-15">地址</th>
            <th class="w-10">可容納人數</th>
            <th class="w-10">管轄分局</th>
            <th class="w-10">路線規劃</th>
        </tr>
        </thead>
        <tbody id="rTbody">



        </tbody>
    </table>
    </p>
    
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy7niYo3hKVoLoxDPCbZqRZWG_x7jml4k">
</script>
<script>
    (function () {
        var _url = '/';
        var orgs = document.querySelector('#orgsSend');
        var towns = document.querySelector('#townsSend');
        var district = document.querySelector('#district');
        var village = document.querySelector('#village');
        var keywordSend = document.querySelector('#keywordSend');
        var rTr = document.querySelector('#rTr');
        var rTbody = document.querySelector('#rTbody');
        var spanMessage = document.querySelector('#message');
        function gettingPosition(){
            if(navigator.geolocation){
                return new Promise((resolve, reject) => {
                    let option = {
                        enableAcuracy:false, // 提高精確度
                        maximumAge:0, // 設定上一次位置資訊的有效期限(毫秒)
                        timeout:10000 // 逾時計時器(毫秒)
                    };
                    navigator.geolocation.getCurrentPosition(resolve, reject, option);
                })
            }else{
                alert("Does not support positioning!");

            }
        };
        function successCallback(position){
            // console.log(position.coords);
            //var xhr = new XMLHttpRequest();
            //xhr.open('get', _url +'RefugeStation/GetPointCountByPosition?lat=' + position.coords.latitude +"&lng="+ position.coords.longitude);
            //xhr.send(null);
            //xhr.onload = function () {
               
            //    var data = JSON.parse(xhr.response);
            //    console.log(data);
            //    if (data == "0") {
            //        spanMessage.innerText = "你附近沒有景點";
            //    } else {
            //        spanMessage.innerText = "你附近的景點如下";
            //    }
            //    showMap(_url + 'RefugeStation/GetPointByPosition?lat=' + position.coords.latitude +"&lng="+ position.coords.longitude);
            //}
            showMap(_url + 'RefugeStation/GetPointByPosition?lat=' + position.coords.latitude +"&lng="+ position.coords.longitude);
            
        }
        function errorCallback(error) {
            //alert(error.message); //error.code
            //spanMessage.innerText = "你的裝置不支援瀏覽器定位";
            showMap(_url + 'RefugeStation/GetPointByPrecinct?id=' + escape('新營分局'));
        }

        gettingPosition()
            .then(position => successCallback(position))
            .catch(error => errorCallback(error));

        
        function GetOrgs() {
            var xhr = new XMLHttpRequest();
            xhr.open('get', _url + 'RefugeStation/GetOrgs');
            xhr.send(null);
            xhr.onload = function () {
                var data = JSON.parse(xhr.response);
                var str = '';
                for (var i = 0; data.length > i; i++) {
                    str += '<option value="' + data[i].subject + '">' + data[i].subject + '</option>';
                }
                document.querySelector('#orgs').innerHTML = str;
                // 預設載入
                
            }
        }
        function GetTowns() {
            var xhr = new XMLHttpRequest();
            xhr.open('get', _url + 'RefugeStation/GetTowns');
            xhr.send(null);
            xhr.onload = function () {
                console.log(xhr)
                var data = JSON.parse(xhr.response);
                var str = '';
                for (var i = 0; data.length > i; i++) {
                    str += '<option value="' + data[i].id + '">' + data[i].subject + '</option>';
                }
                document.querySelector('#district').innerHTML = str;
                GetVillages(data[0].subject);
            }
        }

        function GetVillages(districtName) {
            var xhr = new XMLHttpRequest();
            xhr.open('get', _url + 'RefugeStation/GetVillage/' + districtName);
            xhr.send(null);
            xhr.onload = function () {
                console.log(xhr)
                var data = JSON.parse(xhr.response);
                var str = '<option value="0">所有區域</option>';
                for (var i = 0; data.length > i; i++) {
                    str += '<option value="' + data[i].id + '">' + data[i].subject + '</option>';
                }
                village.innerHTML = str;
            }
        }

        GetOrgs();
        GetTowns();
       
        orgs.addEventListener('click',function(e){
            var _targetUrl = _url + 'RefugeStation/GetPointByPrecinct?id=' +escape(document.querySelector('#orgs').value);
            showMap(_targetUrl);
        })
        towns.addEventListener('click', function (e) {
            var village = document.querySelector('#village').value;
            var _targetUrl = "village";
            console.log(village);
            if (village != "0") {
                _targetUrl = _url +
                    'RefugeStation/GetPointByVillage?id=' +
                    escape(document.querySelector('#village').value) +
                    '&district=' +
                    escape(document.querySelector('#district').value);
            } else {
                _targetUrl = _url + 'RefugeStation/GetPointByDistrict?id=' + escape(document.querySelector('#district').value) ;
            }

            showMap(_targetUrl);
        })
        keywordSend.addEventListener('click',
            function(e) {
                var _targetUrl = _url +
                    'RefugeStation/GetPointByAddress?address=' +
                    escape(document.querySelector('#keywordText').value);
                //console.log(_targetUrl);
                showMap(_targetUrl)
            });
        district.addEventListener('change',
            function(e) {

                GetVillages(district.value);
            });

       
        function showMap(target) {

            var xhr = new XMLHttpRequest();
            xhr.open('get', target);
            xhr.send(null);
            xhr.onload = function () {
                //記錄當前點擊 google window
                var currentInfoWindow = '';
                var data = JSON.parse(xhr.response);
                console.log('here!!' + target);
                console.log(data);
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 9,
                    center: { lat: 22.6048695, lng: 120.299119 }
                });
                var bounds = new google.maps.LatLngBounds();
                var cTrall = '';
                for (i = 0; i < data.length; i++) {

                    var content =
                        '<p style="font-weight:bold">' + data[i].subject + '</p>' +
                            '<span>所屬分局：' + data[i].Precinct + '</span></br>' +
                            '<span>地址：' + data[i].address + '</span></br>' +
                            '<span>收容人數：' + data[i].Number + '</span></br>' +
                            '<a href="/RefugeStation/Result/' + data[i].id + '" >路線規劃</a>'
                    ;

                    var str = {};
                    var place = {};
                    place.lat = parseFloat(data[i]['lat']);
                    place.lng = parseFloat(data[i]['lng']);
                    str.map = map;
                    str.title = data[i].subject;
                    str.icon = 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-gold.png';
                    str.position = place;
                    var marker = new google.maps.Marker(str);
                    loc = new google.maps.LatLng(marker.position.lat(), marker.position.lng());

                    infowindow(marker, content);
                    bounds.extend(loc);
                    var cTr = ' <tr class="rTr">' +
                        '<td data-th="區別">' + data[i].DIstrict + '</td>' +
                        '<td data-th="里別">' + data[i].Village + '</td>' +
                        '<td data-th="名稱">' + data[i].subject + '</td>' +
                        '<td data-th="地址">' + data[i].address + '</td>' +
                        '<td data-th="可容納人數">' + data[i].Number + '</td>' +
                        '<td data-th="管轄分局">' + data[i].Precinct + '</td>' +
                        '<td data-th="路線規劃"><a href="/RefugeStation/Result/' + data[i].id + '" >路線規劃</a></td>' +
                        '</tr>';
                    cTrall = cTrall + cTr;

                }
                rTbody.innerHTML = cTrall;
                function infowindow(marker, content) {

                    var infowindow = new google.maps.InfoWindow({
                        content: content
                    });

                    marker.addListener('click', function () {
                        if (currentInfoWindow) {
                            currentInfoWindow.close();
                            currentInfoWindow = '';
                        }
                        infowindow.open(marker.get('map'), marker);
                        currentInfoWindow = infowindow;
                    });

                }
                map.fitBounds(bounds);
                map.panToBounds(bounds);
            }
        }
    })()
</script>
