@using TnpdModels
@{
    ViewBag.Title = "防空疏散避難設施地圖";
    string areaName = ViewContext.RouteData.DataTokens["area"].ToString();
    BackendContext _db = new BackendContext();
    var site = _db.WebSiteNames.FirstOrDefault(x => x.SiteCode == areaName);
}
<div class="row">
    <div class="col-12">
        <p class="mb-2">當您選擇行政區位置或選取轄區分局，本系統將提供您行政區內防空疏散避難設施地圖資訊。</p>

        <div class="form-row mt-2" style="display: none">
            <label class="col-form-label" for="orgs">依照分局搜尋：</label>
            <div class="form-group col-auto">
                <select id="orgs" class="form-control" name="orgs"></select>
            </div>
            <div class="form-group col-auto">
                <input id="orgsSend" class="btn btn-secondary" type="button" value="搜尋">
            </div>
        </div>

        <div class="form-row mt-1">
            <label class="col-form-label" for="towns">依照地區搜尋：</label>
            <div class="form-group col-auto">
                <select id="district" class="form-control" name="towns"></select>
                <select id="village" class="form-control" name="towns"></select>
            </div>
            <div class="form-group col-auto">

                <input id="townsSend" class="btn btn-secondary" type="button" value="搜尋">
            </div>
        </div>

        <p class="mb-2" style="display: none">
            您也可輸入精確地址，或地標(例如:奇美博物館)，本系統將提供距離您輸入位置5公里內之防空疏散避難設施地圖資訊。
        </p>

        <div class="form-row mt-2" style="display: none">
            <label class="col-form-label" for="keywordText">請輸入地址或地標：</label>
            <div class="form-group col-auto">
                <input id="keywordText" class="form-control" placeholder="請輸入請輸入地址或地標" type="text">
            </div>
            <div class="form-group col-auto">
                <input id="keywordSend" class="btn btn-secondary" type="button" value="搜尋">
            </div>
        </div>

        <div id="map" class="mt-3" style="height: 500px; width: 100%;"></div>
    </div>
</div>
<div>
    <p>
        <table id="rTable" class="table table-hover tablestyle rwd-table">
            <thead>
                <tr>
                    <th class="w-10">區別</th>

                    <th class="w-10">里別</th>
                    <th class="w-10">名稱</th>
                    <th class="w-15">地址</th>
                    <th class="w-10">可容納人數</th>
                    <th class="w-10">管轄分局</th>
                </tr>
            </thead>
            <tbody id="rTbody">
            </tbody>
        </table>
    </p>

</div>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy7niYo3hKVoLoxDPCbZqRZWG_x7jml4k">
</script>
<script>
    (function () {
        var _url = '/';
        var orgs = document.querySelector('#orgsSend');
        var towns = document.querySelector('#townsSend');
        var district = document.querySelector('#district');
        var village = document.querySelector('#village');
        var keywordSend = document.querySelector('#keywordSend');
        var rTr = document.querySelector('#rTr');
        var rTbody = document.querySelector('#rTbody');
        function GetOrgs() {
            var xhr = new XMLHttpRequest();
            xhr.open('get', _url + 'StationInfo/GetPrecincts');
            xhr.send(null);
            xhr.onload = function () {
                var data = JSON.parse(xhr.response);
                var str = '';
                for (var i = 0; data.length > i; i++) {
                    str += '<option value="' + data[i].subject + '">' + data[i].subject + '</option>'
                }
                document.querySelector('#orgs').innerHTML = str;
            }
        }
        function GetTowns() {
            var xhr = new XMLHttpRequest();
            xhr.open('get', _url + '@areaName/RefugeStation/GetTowns');
            xhr.send(null);
            xhr.onload = function () {
                
                var data = JSON.parse(xhr.response);
                var str = '';
                for (var i = 0; data.length > i; i++) {
                    str += '<option value="' + data[i].id + '">' + data[i].subject + '</option>'
                }
                document.querySelector('#district').innerHTML = str;
                GetVillages(data[0].subject);
            }
        }

        function GetVillages(districtName) {
            var xhr = new XMLHttpRequest();
            xhr.open('get', _url + '@areaName/RefugeStation/GetVillage/' + districtName);
            xhr.send(null);
            xhr.onload = function () {
                console.log(xhr)
                var data = JSON.parse(xhr.response);
                var str = '';
                for (var i = 0; data.length > i; i++) {
                    str += '<option value="' + data[i].id + '">' + data[i].subject + '</option>'
                }
                village.innerHTML = str;
            }
        }

        GetOrgs();
        GetTowns();
       
        orgs.addEventListener('click',function(e){
            var _targetUrl = _url + '@areaName/RefugeStation/GetPointByPrecinct?id=' + document.querySelector('#orgs').value;
            showMap(_targetUrl)
        })
        towns.addEventListener('click', function (e) {
            var _targetUrl = _url + '@areaName/RefugeStation/GetPointByVillage?id=' + document.querySelector('#village').value + '&district=' + document.querySelector('#district').value;
            showMap(_targetUrl)
        })
        keywordSend.addEventListener('click',
            function(e) {
                var _targetUrl = _url +
                    'RefugeStation/GetPointByAddress?address=' +
                    document.querySelector('#keywordText').value;
                console.log(_targetUrl);
                showMap(_targetUrl)
            });
        district.addEventListener('change',
            function(e) {

                GetVillages(district.value);
            });

        // 預設載入
        showMap(_url + 'RefugeStation/GetPointByPrecinct?id=@site.Subject');
        function showMap(target) {
           
            var xhr = new XMLHttpRequest();
            xhr.open('get', target);
            xhr.send(null);
            xhr.onload = function () {
                //記錄當前點擊 google window
                var currentInfoWindow = '';
                var data = JSON.parse(xhr.response);
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 9,
                    center: { lat: 22.6048695, lng: 120.299119 }
                });
                var bounds = new google.maps.LatLngBounds();
                var  cTrall='';
                for (i = 0; i < data.length; i++) {
            
                    var content= 
                        '<p style="font-weight:bold">'+ data[i].subject+'</p>'+
                            '<span>所屬分局：' + data[i].Precinct + '</span></br>' +
                            '<span>地址：'+data[i].address+'</span></br>'+
                            '<span>收容人數：'+data[i].Number+'</span></br>'
                    ;
              
                    var str = {};
                    var place = {};
                    place.lat = parseFloat(data[i]['lat']);
                    place.lng = parseFloat(data[i]['lng']);
                    str.map = map;
                    str.title = data[i].subject;
                    str.position = place;
                    var marker = new google.maps.Marker(str);
                    loc = new google.maps.LatLng(marker.position.lat(), marker.position.lng());
                    infowindow(marker, content);
                    bounds.extend(loc);
                    var cTr = ' <tr class="rTr">'+
                        '<td data-th="區別">' + data[i].DIstrict + '</td>' +
                        '<td data-th="里別">' + data[i].Village + '</td>' +
                        '<td data-th="名稱">' + data[i].subject + '</td>' +
                        '<td data-th="地址">' + data[i].address + '</td>' +
                        '<td data-th="可容納人數">' + data[i].Number + '</td>' +
                        '<td data-th="管轄分局">' + data[i].Precinct + '</td>' +
                        '</tr>';
                    cTrall = cTrall + cTr;

                }
                rTbody.innerHTML = cTrall;
                function infowindow(marker, content) {

                    var infowindow = new google.maps.InfoWindow({
                        content: content
                    });

                    marker.addListener('click', function () {
                        if (currentInfoWindow) {
                            currentInfoWindow.close();
                            currentInfoWindow = '';
                        }
                        infowindow.open(marker.get('map'), marker);
                        currentInfoWindow = infowindow;
                    });

                }
                map.fitBounds(bounds);
                map.panToBounds(bounds);
            }
        }
    })()
</script>


