.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.h3title {
    font-family: 'Noto Sans TC', Microsoft JhengHei, Helvetica, sans-serif;
    margin-bottom: 3px;
    font-size: 1.6em;
    color: #007B7F;
    letter-spacing: 0.1em;
    text-align: left;
}

.h4title {
    color: #005cb9;
    font-family: 'Noto Sans TC', Microsoft JhengHei, Helvetica, sans-serif;
    font-size: 1.375em;
    letter-spacing: 1px;
    margin: 0 0 15px 0;
}

.h5title {
    color: #005cb9;
    font-family: 'Noto Sans TC', Microsoft JhengHei, Helvetica, sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin: 0 0 12px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #bfbfbf;
}

.h5title a {
    color: #005cb9;
    font-family: 'Noto Sans TC', Microsoft JhengHei, Helvetica, sans-serif;
}

.h5title a:hover {
    color: #007B7F;
    font-family: 'Noto Sans TC', Microsoft JhengHei, Helvetica, sans-serif;
}

.hr01 {
    width: 100%;
    height: 2px;
    border-top: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-image: url(../images/new/linetitle.jpg);
}

.fontch {
    float: right;
}

.fontch ul {
    float: left;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.fontch li {
    float: left;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
}

.fontch li a {
    background-color: #79ae25;
    display: block;
    float: left;
    width: 26px;
    height: 24px;
    color: #fff;
    line-height: 22px;
    padding: 1px 6px;
    border-radius: 3px;
    text-align: center;
}

.fontch li a:hover,
.fontch li a.active {
    background-color: #cef196;
    color: #000;
}

ul.crul li {
    list-style: none;
}


ul.crul li.li01 {
    color: #ffd100;
}

ul.crul li a {
    color: #ffd100;
}

ul.crul01 {
    float: right;
}

ul.crul01 li {
    list-style: none;
    float: left;
    padding: 0 5px;
}

.togglet01 {
    text-align: center !important;
    position: relative !important;
}

.togglet01 i {
    width: auto !important;
    position: relative !important;
}

.footerbox {
    font-family: 'Noto Sans TC', Microsoft JhengHei, Helvetica, sans-serif;
}

.footerbox h3 {
    border-bottom: 1px solid #bfbfbf;
    color: #005cb9;
    font-size: 1.125em;
    font-family: 'Noto Sans TC', Microsoft JhengHei, Helvetica, sans-serif;
    margin-bottom: 6px;
    padding-bottom: 8px;
}

.footerbox h3:before {
    font-weight: 300;
    font-family: 'font-icons';
    content: "\e7a1";
    padding-right: 3px;
}

.footerbox ul {
    padding-left: 0px;
}

.footerbox ul li {
    list-style: none;
    padding: 3px 0px;
    font-size: 0.875em;
}

.footerbox ul li a {
    color: #414141;
}

.footerbox ul li a:hover {
    color: #005cb9;
}

.footercollapse {

    padding-bottom: 20px;
}

a.gotoTop-sty {
    display: block; 
    width:100%; 
    height:100%;
    color: #fff;
    }

.open::before {
    content: url(../images/new/btn01_close.png);
    position: relative;
    top: 7px;
    left: 35px;
}

.collapsed::before {
    content: url(../images/new/btn01_open.png);
    position: relative;
    top: 7px;
}

.footerbtn {}

a.footerbtn {
    color: #fff;
    background-image: url(../images/new/btn01.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 8px 45px 20px 45px;
}

.inputsear {
    border-radius: 20px;
    width: 285px !important;
    border: 1px solid #aaaaaa;
    padding: 3px 10px 3px 10px;
}

.inputsear::placeholder {
    padding-left: 5px;
}

.inputsearbtn {
    z-index: 100;
}

.inputsearbtn i {
    color: #282828;
}

.btninput {
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #aaaaaa;
    border-left: none;
    padding: 3px 10px 3px 10px !important;
}

.inputlist {
    padding-top: 5px;
}

.inputlist a {
    color: #282828;
}

.inputlist a:hover {
    color: #30bca8;
}

.inputlist01 {
    text-align: left;
    display: inline-block;
    float: left;
    padding-left: 15px;
    padding-top: 5px;
}

.inputlist i {
    color: #c30202;
    font-weight: bold;
    padding-right: 5px;
}

.inputlist02 {
    text-align: right;
    display: inline-block;
    float: right;
}

#left-menu {
    padding-right: 30px;
    margin-bottom: 20px;
}

.leftbox {
    width: 100%;
    padding-right: -40px !important;
    background-color: #fff;
    border-radius: 4px;
    /* border: 1px solid #ccc; */
}

.leftbox h2 {
    border-radius: 4px;
    background-color: #007B7F;
    padding: 10px 10px 6px 20px;
    margin-bottom: 10px;

    /* margin-bottom: 0px;
     */
    color: #fff;
    font-family: 'Noto Sans TC', Microsoft JhengHei, Helvetica, sans-serif;
    font-size: 1.375em;
    letter-spacing: 1px;
}

.leftbox ul {
    border-radius: 10px 10px 0 0;
    box-shadow: inset 0px 6px 5px -3px rgba(20%, 20%, 40%, 0.2);
    padding-top: 15px;
    margin-bottom: 0px;
}

.leftbox_shadow {
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px -6px 5px -3px rgba(20%, 20%, 40%, 0.2);
    padding-top: 15px;
}

.leftbox ul li {
    list-style: none;
}

.leftbox li:before {
    font-family: 'font-icons';
}

.leftbox .list-icon-arrow li:before {
    content: "\e70b";
    font-size: 0.9em;
    color: #aaaaaa;
}

.leftbox ul li:first-child {
    border-top: 0px solid #cecece;
    display: block;
}

.leftbox ul li {
    display: block;
    border-top: 1px dashed #cecece;
    padding: 10px 5px 10px 20px;
    color: #000;
}

.leftbox ul li a {
    font-size: 1em;
    font-weight: 600;
    color: #000;
    padding-left: 5px;
}

.leftbox ul li a.active {
    border-radius: 4px;
    /* background-color: #696969; */
    color: #007B7F;
}

.leftbox ul li a:hover {
    /* background-color: #696969; */
    color: #007B7F;
}

.societybox {
    float: right;
}

.societybox ul li {
    list-style: none;
    float: left;
}

.form-area {
    width: 100%;
    float: left;
}

.form-area .col-auto {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

a.alt-u {
    float: left;
    font-weight: 300 !important;
    color: #414141;
}

a.alt-c01 {
    font-weight: 300 !important;
    font-size: 0.813em !important;
    display: block;
    color: #c2c2c2;
}

.nonedisplay {
    display: none;
}

.font13 {
    font-size: 0.813em !important;
    display: inline-block;
}

.tablestyle {
    font-size: 1em;
    font-weight: 300 !important;
}

.tablestyle .col-md-1,
.tablestyle .col-md-2,
.tablestyle .col-md-3 {
    position: static !important;
}

.tablestyle th {
    text-align: center !important;
    background: #5c5c5c;
    color: #fff;
    border-right: 1px solid #dee2e6;
    border-top: none;
}

.tablestyle th:first-child {
    border-top-left-radius: 4px;
    /* border-bottom-left-radius: 4px; */
}

.tablestyle th:last-child {
    border-top-right-radius: 4px;
    /* border-bottom-right-radius: 4px; */
    border-right: none;
}

.tablestyle th,
.tablestyle td {
    padding: 0.6rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
    text-align: center !important;
}

.tablestyle td a {
    color: #005cb9;
    display: block;
    text-align: left !important;
}

.tablestyle td a:hover {
    color: #DD4B39;
    display: block;
    text-align: left !important;
}

.updateline {
    float: left;
    width: 100%;
    clear: both;
    border-top: 1px dashed #ccc;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 0.875em;
    text-align: right;
    letter-spacing: 0.1em;
}

dl.row {
    margin-right: 0px;
    margin-left: 0px;
}

.dl-text dt,
.dl-text dd {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #dee2e6;
}

.hrline {
    width: 100%;
    clear: both;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ullink {
    margin-left: 22px !important;
    margin-bottom: 20px !important;
}

.ullink li {
    margin-bottom: 5px !important;
}

.ultxt {
    margin-left: 22px !important;
    margin-bottom: 20px !important;
    list-style-type: decimal;
}

.ultxt li {
    margin-bottom: 10px !important;
}


.ulsitemap {
    margin-left: 22px !important;
    margin-bottom: 20px !important;
    list-style-type: none;
}

.ulsitemap a {
    color: #282828;
}

.ulsitemap a:hover {
    color: #007B7F;
}

.ulsitemap li {
    margin-bottom: 10px !important;
}

.ulsitemap ul {
    margin-left: 22px !important;
    margin-bottom: 10px !important;
    list-style-type: none;
}

.ulsitemap ul li {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.dropcap {
    float: left;
    font-size: 2.2em;
    line-height: 1;
    margin: 5px 5px 0 0;
    padding: 5px;
    text-transform: uppercase;
    background: #e5e5e5;
    border-radius: 2px;
}

.imglink a {
    display: inline-block;
}

.alertlist {
    width: 100%;
    float: left;
}

.alertlist .alert {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.alertlist .alert a {
    color: #005cb9;
}

.alertlist .alert a:hover {
    color: #000;
}

.button.button-mini {
    display: inline-block;
    margin: 0px;
    padding: 0 14px;
    font-size: 0.9em;
    height: 28px;
    line-height: 28px;
    color: #FFF;
}

.button:hover {
    background-color: #444;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.pricing-box {
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: left;
}

.pricing-title {
    text-align: center;
    padding: 15px 0;
    background-color: #F9F9F9;
    border-radius: 3px 3px 0 0;
    text-shadow: 1px 1px 1px #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.pricing-features {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    margin: 15px;
}

.pricing-features ul {
    margin: 0 0 0 20px;
    list-style-type: decimal;
}

.pricing-features li {
    padding: 6px 0;
    font-size: 1em;
}

.pricing-action {
    padding: 0 15px 15px 15px;
    text-align: center;
}

.pricing-title h3 {
    margin: 0;
    font-size: 1.125em;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
}

.form-check-label {
    font-size: 1em;
}

.team-content h4 {
    font-family: "微軟正黑體";
    margin-bottom: 5px;
    font-size: 1em;
}

.team-content ul {
    margin-bottom: 15px;
}

.team-content ul li {
    padding: 1px 0px;
}

ol.about05 {
    padding-left: 20px;
}

ol.about05 li {
    padding: 5px 0;
}

ul.about06 {
    padding-left: 20px;
}

ul.about06 li h4 {
    margin-bottom: 0px !important;
    color: #00a8ae;
}

ul.about06 li {
    list-style: none;
    padding: 6px 0;
}

ol.olchinese {
    padding-left: 40px;
}

ol.olchinese li {
    list-style: cjk-ideographic;
    padding: 6px 0;
}

ol.olchinese li ol {
    padding-left: 25px;
}

ol.olchinese li ol li {
    list-style: decimal;
    padding: 2px 0;
}

ul.office {
    padding-left: 15px;
    margin-bottom: 5px;
}

ul.office li {
    list-style: none;
    padding: 3px 0;
}

ul.office li i {
    width: 17px;
}

p.office {
    padding-left: 30px;
}

ul.office li span {
    color: #05a78e;
}

ul.ulteam {
    padding-left: 25px;
}

ul.ulteam li {
    list-style: none;
    padding: 5px 0px;
}

ul.ulteam li span {
    list-style: none;
    font-weight: bold;
    padding-right: 5px;
    color: #05a78e;
}

ol.private {
    padding-left: 20px;
    margin-bottom: 1px;
}

ol.private li {
    padding: 5px 0;
}

.title-block {
    padding: 2px 0 3px 10px;
    border-left: 7px solid #007B7F;
    margin-bottom: 30px;
}

.privateh4 {
    color: #1ABC9C;
    font-size: 1em;
}

ol.private01 {
    padding-left: 20px;
}

ol.private01 li {
    padding: 15px 0;
    border-bottom: 1px dotted #ccc;
}

ol.private01 li ul {
    padding-left: 20px;
    padding-top: 5px;
}

ol.private01 li ul li {
    padding: 5px 0;
    border-bottom: none;
    list-style: disc;
}

/***table****/
table.newtable01 caption {
    color: #2570bd;
    caption-side: top;
    text-align: center;
    font-size: 1.4em;
}

table.newtable01 th {
    color: #fff;
    background-color: #2570bd;
}

.team-title {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
}

.team-image img {
    transition: 0.5s;
}

.team-image a:hover img {
    opacity: 0.6;
    transition: 0.5s;

}

@media print {
    .container {
        margin: 0px !important;
        width: 100% !important;
    }

    #top-bar,
    #header,
    #header-wrap,
    #page-title,
    #left-menu,
    #footer,
    .societybox,
    #gotoTop {
        display: none !important;
    }

    #printblock {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .col-md-9 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    a[href]:after {
        content: none !important;
    }

    a[title]:after {
        content: none !important;

    }

}

@media screen and (min-width: 992px) and (max-width: 1920px) {
    .w0 {
        width: 12% !important;
    }

    .w1 {
        width: 30%;
    }

    #primary-menu ul>li {
        float: left;
        margin-left: 2px;
        border-left: 1px solid #d9d9d9;
    }

    #primary-menu ul>li:first-child {
        border-left: none;
    }

    #primary-menu ul li>a {
        display: block;
        line-height: 12px;
        padding: 12px 30px;
        color: #000;
        font-weight: bold;
        font-size: 1.125em;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Noto Sans TC', Microsoft JhengHei, Helvetica, sans-serif;
        -webkit-transition: margin .4s ease, padding .4s ease;
        -o-transition: margin .4s ease, padding .4s ease;
        transition: margin .4s ease, padding .4s ease;
    }

    #primary-menu.style-2 {
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(220, 220, 220) 49%, rgb(243, 243, 243) 50%, rgb(255, 255, 255) 100%);
        background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(220, 220, 220) 49%, rgb(243, 243, 243) 50%, rgb(255, 255, 255) 100%);
        background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(220, 220, 220) 49%, rgb(243, 243, 243) 50%, rgb(255, 255, 255) 100%);
    }

    #primary-menu ul ul li>a {
        line-height: 15px;
        padding: 15px 15px;
    }

    body:not(.device-md):not(.device-sm):not(.device-xs) #primary-menu.style-2.center>ul,
    body:not(.device-md):not(.device-sm):not(.device-xs) #primary-menu.style-2.center>div {
        float: none;
        display: inline-block !important;
        width: auto;
        text-align: left;
        margin-bottom: -5px;
    }

    .col-md-2a {
        width: 14.2%;
        flex: 0 0 14.2%;
    }

    .col-md-10a {
        padding-right: 0px;
    }
}

@media (min-width: 1200px) {

    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

@media (min-width: 992px) {}

/****rwd-table****/

.rwd-table {
    width: 100%;
}

.itens {}

.itens:nth-child(2n+0) {}

.rwd-table th {
    display: none;
    font-weight: bold;
}

.rwd-table td {
    display: block;
}

.rwd-table td:before {
    content: attr(data-th) " : ";
    width: 5.5em;
    display: inline-block;
    font-weight: bold;
}

.rwd-table {
    overflow: hidden;
    border-collapse: collapse;
}

.rwd-table th,
.rwd-table td:before {}

.valor_table {}

@media (min-width: 768px) {
    .rwd-table td:before {
        display: none;
    }

    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table th {
        display: table-cell;
    }

    .rwd-table td {
        padding: 1em !important;
    }

}

@media (max-width: 767.98px) {

    .inputsear {
        width: 260px !important;
    }

    .pagination-sm .page-link {
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
    }

    #printblock .row,
    .updateline {
        /* justify-content: center !important;
        text-align: center;*/
    }

    #copyrights {
        padding: 40px 0 4px 0;
    }

    .rwd-table td {
        text-align: left !important;
        border-bottom: 0px !important;
        border-top: 0px !important;
        padding: 0.21em;
    }

    .rwd-table td a {
        display: inline-block !important;
    }

    .rwd-table tbody tr {
        border-bottom: 1px solid #dee2e6;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }

    .rwd-table td.title01 {
        background-color: #ec7719;
        color: #fff;
        margin-bottom: 5px;
        display: inline-block !important;
        text-align: left !important;
        padding: 2px 7px;
        border-radius: 3px;
    }

    .rwd-table td.title02 {
        background-color: #2c8dc5;
        color: #fff;
        margin-bottom: 5px;
        display: inline-block !important;
        text-align: left !important;
        padding: 2px 7px;
        border-radius: 3px;
    }

    .rwd-table td.none:before {
        display: none;
    }

    .breakline {
        width: 100%;
    }

    .dl-text dt {
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 0;
        margin-bottom: 0;
        border-bottom: none;
    }

    .dl-text dd {
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 0;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #primary-menu ul li>a {
        display: block;
        line-height: 12px;
        padding: 12px 20px;
        color: #000;
        font-weight: bold;
        font-size: 1.125em;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Noto Sans TC', Microsoft JhengHei, Helvetica, sans-serif;
        -webkit-transition: margin .4s ease, padding .4s ease;
        -o-transition: margin .4s ease, padding .4s ease;
        transition: margin .4s ease, padding .4s ease;
    }


}

@media screen and (min-width: 300px) and (max-width: 578px) {
    ul.ulteam li span {
        display: block;
    }

}


table.newtable02 ul{
    padding-left: 20px;
    margin-bottom: 0px;

}

.team-content ul li{     
    padding: 4px 0 4px 15px;
    background-repeat: no-repeat;
    background-position: left 7px;
    background-image: url(../images/icons/widget-link.png);
    
}
ul.linksLaws{
    padding-left: 20px;

}
ul.linksLaws li{
    padding: 10px 0 ;
    border-bottom: 1px dotted  #ccc;
}
.linkenbox img{
    border: 1px solid #ccc;
}
.linkenbox img:hover{
    opacity: 0.8;
   
}

.linkenbox h5{    
    padding-top: 8px;
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    img {
        width: 100%;
    }
}

