<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <Modules Title="帳號管理" Controller="Member" Action="Index" Value="A" Icon="fa fa-lock" >
    <Modules Title="管理者帳號管理" Controller="Member" Action="Index" Value="A01" Icon="fa fa-lock" />
  </Modules>

  <Modules Title="網站內容管理系統" Controller="" Action="" Value="W" Icon="fa fa-sitemap">
    <Modules Title="網站架構與內容管理" Controller="WebSite" Action="Index" Value="W01" Icon="fa fa-sitemap" />
    <Modules Title="分類檢索管理" Controller="MetaIndex" Action="Index" Value="W05" Icon="fa fa-sitemap" />
    <Modules Title="系統運作效能" Controller="WebSite" Action="manage" Value="W11" Icon="fa fa-sitemap fa-ga" />
    <Modules Title="網站維護紀錄" Controller="SystemLogs" Action="Index" Value="W08" Icon="fa fa-sitemap" />
    <Modules Title="網站維護統計" Controller="SystemLogs" Action="Report" Value="W09" Icon="fa fa-sitemap" />
    <Modules Title="動態發布統計" Controller="News" Action="Report" Value="W02" pclass="0" Icon="fa fa-rss" />
    <Modules Title="單位動態發布統計" Controller="News" Action="ReportByUnits" Value="W03" pclass="0" Icon="fa fa-rss" />

  </Modules>

  <Modules Title="公用程式區" Controller="" Action="" Value="U" Icon="fa fa-sitemap">
    <Modules Title="首頁Banner設定" Controller="BigBanner" Action="Index" Value="U02" Icon="fa fa-sitemap" />
    <Modules Title="首頁相關連結(小圖)" Controller="HomeLink" Action="Index" Value="U12" Icon="fa fa-map-marker"></Modules>
    <Modules Title="相關連結類別管理" Controller="AboutLinkCatalog" Action="Index" Value="U11" Icon="fa fa-map-marker"></Modules>
    <Modules Title="相關連結" Controller="AboutLink" Action="Index" Value="U01" Icon="fa fa-map-marker"></Modules>
    <Modules Title="分局派出所資訊" Controller="StationInfo" Action="Index" Value="U14"  Icon="fa fa-rss" />
    <Modules Title="警光山莊景點介紹" Controller="News" Action="Index" Value="U10" pclass="46" Icon="fa fa-rss" />
  </Modules>

  <Modules Title="訊息公告" Controller="" Action="" Value="N" Icon="fa fa-rss">
    <Modules Title="最新消息類別管理" Controller="NewsCatalog" Action="Index" pclass="1" Value="N01" Icon="fa fa-rss" />
    <Modules Title="最新消息" Controller="News" Action="Index" Value="N02" pclass="1" Icon="fa fa-rss" />
    <Modules Title="破案報導類別管理" Controller="NewsCatalog" Action="Index" pclass="3" Value="N03" Icon="fa fa-rss" />
    <Modules Title="破案報導" Controller="News" Action="Index" Value="N04" pclass="3" Icon="fa fa-rss" />
    <Modules Title="好人好事類別管理" Controller="NewsCatalog" Action="Index" pclass="6" Value="N07" Icon="fa fa-rss" />
    <Modules Title="好人好事" Controller="News" Action="Index" Value="N08" pclass="6" Icon="fa fa-rss" />
    <Modules Title="政府公開資訊類別管理" Controller="NewsCatalog" Action="Index" pclass="18" Value="N05" Icon="fa fa-rss" />
    <Modules Title="政府公開資訊" Controller="News" Action="Index" Value="N06" pclass="18" Icon="fa fa-rss" />
    <Modules Title="警政統計類別管理" Controller="NewsCatalog" Action="Index" Value="N11" pclass="21" Icon="fa fa-rss" />
    <Modules Title="警政統計" Controller="News" Action="Index" Value="N12" pclass="21" Icon="fa fa-rss" />
    <Modules Title="活動訊息類別管理" Controller="NewsCatalog" Action="Index" pclass="39" Value="N09" Icon="fa fa-rss" />
    <Modules Title="活動訊息" Controller="News" Action="Index" Value="N10" pclass="39" Icon="fa fa-rss" />
  </Modules>
  <Modules Title="宣導專區" Controller="" Action="" Value="S" Icon="fa fa-sitemap">
    <Modules Title="廉政暨清廉監督專區類別管理" Controller="NewsCatalog" Action="Index" pclass="22" Value="S01" Icon="fa fa-rss" />
    <Modules Title="廉政暨清廉監督專區" Controller="News" Action="Index" Value="S02" pclass="22" Icon="fa fa-rss" />
    
    <Modules Title="全民防空宣導資料" Controller="News" Action="Index" Value="S03" pclass="22" Icon="fa fa-rss" />
    <Modules Title="防空疏散避難設施地圖" Controller="RefugeStations" Action="Index" Value="S04" Icon="fa fa-rss" />

    <Modules Title="性別主流專區" Controller="" Action="" Value="S05" pclass="" Icon="fa fa-rss" >


      <Modules Title="性別主流化實施計畫" Controller="News" Action="Index" Value="S0501" pclass="59" Icon="fa fa-rss" />
      <Modules Title="性別平等機制" Controller="News" Action="Index" Value="S0502" pclass="60" Icon="fa fa-rss" />
      <Modules Title="性別統計分析" Controller="News" Action="Index" Value="S0503" pclass="61" Icon="fa fa-rss" />
      <Modules Title="性別影響評估" Controller="News" Action="Index" Value="S0504" pclass="62" Icon="fa fa-rss" />
      <Modules Title="性別意識培力課程" Controller="News" Action="Index" Value="S0505" pclass="63" Icon="fa fa-rss" />
      <Modules Title="性別平等宣導成果" Controller="News" Action="Index" Value="S0506" pclass="64" Icon="fa fa-rss" />
      <Modules Title="性別平等網站連結" Controller="News" Action="Index" Value="S0507" pclass="65" Icon="fa fa-rss" />
      <Modules Title="性別主流專區" Controller="News" Action="Index" Value="S0508" pclass="10" Icon="fa fa-rss" />
    </Modules>
    <Modules Title="人事業務宣導" Controller="" Action="" Value="" pclass="S06" Icon="fa fa-rss">
      <Modules Title="人事業務宣導" Controller="News" Action="Index" Value="S0601" pclass="28" Icon="fa fa-rss" />
      <Modules Title="員工協助方案專區類別管理" Controller="NewsCatalog" Action="Index" pclass="33" Value="S0602" Icon="fa fa-rss" />
      <Modules Title="員工協助方案專區" Controller="News" Action="Index" Value="S0603" pclass="33" Icon="fa fa-rss" />
    </Modules>

    <Modules Title="預防犯罪宣導" Controller="News" Action="Index" Value="S07" pclass="11" Icon="fa fa-rss" />
    <Modules Title="預防詐騙宣導" Controller="News" Action="Index" Value="S08" pclass="9" Icon="fa fa-rss" />
    <Modules Title="交通安全宣導" Controller="News" Action="Index" Value="S09" pclass="4" Icon="fa fa-rss" />
    <Modules Title="婦幼安全宣導" Controller="News" Action="Index" Value="S10" pclass="13" Icon="fa fa-rss" />
    <Modules Title="治安宣導類別管理" Controller="NewsCatalog" Action="Index" pclass="25" Value="S11" Icon="fa fa-rss" />
    <Modules Title="治安宣導" Controller="News" Action="Index" Value="S12" pclass="25" Icon="fa fa-rss" />
    <Modules Title="社區警政宣導" Controller="News" Action="Index" Value="S13" pclass="32" Icon="fa fa-rss" />

    <Modules Title="其他宣導類別管理" Controller="NewsCatalog" Action="Index" pclass="23" Value="S14" Icon="fa fa-rss" />
    <Modules Title="其他宣導" Controller="News" Action="Index" Value="S15" pclass="23" Icon="fa fa-rss" />
    <Modules Title="加強重要節日安全維護" Controller="News" Action="Index" Value="S16" pclass="8" Icon="fa fa-rss" />

    <Modules Title="青春專案宣導類別管理" Controller="NewsCatalog" Action="Index" pclass="24" Value="S17" Icon="fa fa-rss" />
    <Modules Title="青春專案宣導" Controller="News" Action="Index" Value="S18" pclass="24" Icon="fa fa-rss" />





  </Modules>

  <Modules Title="影片相片" Controller="" Action="" Value="V" Icon="fa fa-sitemap">
    <Modules Title="活動相簿類別管理" Controller="NewsCatalog" Action="Index" pclass="7" Value="V01" Icon="fa fa-rss" />
    <Modules Title="活動相簿" Controller="News" Action="Index" Value="V02" pclass="7" Icon="fa fa-rss" />
    <Modules Title="宣導影片類別管理" Controller="NewsCatalog" Action="Index" pclass="16" Value="V03" Icon="fa fa-rss" />
    <Modules Title="宣導影片" Controller="News" Action="Index" Value="V04" pclass="16" Icon="fa fa-rss" />
  </Modules>

  
  <Modules Title="便民服務" Controller="" Action="" Value="C" Icon="fa fa-sitemap">
    <Modules Title="表單下載類別管理" Controller="NewsCatalog" Action="Index" pclass="14" Value="C01" Icon="fa fa-rss" />
    <Modules Title="表單下載" Controller="News" Action="Index" Value="C02" pclass="14" Icon="fa fa-rss" />
    <Modules Title="常見問答FAQ類別管理" Controller="NewsCatalog" Action="Index" pclass="58" Value="C03" Icon="fa fa-rss" />
    <Modules Title="常見問答FAQ" Controller="News" Action="Index" Value="C04" pclass="58" Icon="fa fa-rss" />
    <Modules Title="申辦服務類別管理" Controller="EseCatalog" Action="Index"  Value="C05" Icon="fa fa-rss" />
    <Modules Title="申辦服務" Controller="Ese" Action="Index" Value="C06"  Icon="fa fa-rss" />
    
    <Modules Title="法規專區" Controller="" Action="" Value="C07" Icon="fa fa-sitemap">
      <Modules Title="地方自治法規類別管理" Controller="NewsCatalog" Action="Index" pclass="19" Value="C0701" Icon="fa fa-rss" />
      <Modules Title="地方自治法規" Controller="News" Action="Index" Value="C0702" pclass="19" Icon="fa fa-rss" />
    </Modules>





  </Modules>

  <Modules Title="婦幼業務" Controller="" Action="" Value="F" Icon="fa fa-sitemap">
    <Modules Title="婦幼安全警示地點" Controller="Wanda" Action="Index" Value="F01"  Icon="fa fa-rss" />
    <Modules Title="公告具高再犯危險之性侵害加害人人數專區" Controller="News" Action="Index" Value="F02" pclass="54" Icon="fa fa-rss" />
    <Modules Title="婦幼法規" Controller="" Action="" Value="F03" Icon="fa fa-sitemap">
      <Modules Title="家庭暴力防治相關法規" Controller="News" Action="Index" Value="F0301" pclass="42" Icon="fa fa-rss" />
      <Modules Title="性騷擾防治相關法規" Controller="News" Action="Index" Value="F0302" pclass="43" Icon="fa fa-rss" />
      <Modules Title="性侵害防治相關法規" Controller="News" Action="Index" Value="F0303" pclass="44" Icon="fa fa-rss" />

    </Modules>
  </Modules>

  <Modules Title="婦幼安全警示地點通報" Controller="" Action="" Value="M3" Icon="fa fa-sitemap">
    <Modules Title="派案作業" Controller="Case" Action="Assign" pclass="4" Value="M301" Icon="fa fa-rss" />
    <Modules Title="案件狀態回復" Controller="Case" Action="Restone" pclass="4" Value="M302" Icon="fa fa-rss" />
    <Modules Title="退文派案" Controller="Case" Action="Goback" pclass="4"  Value="M303" Icon="fa fa-rss" />
    <Modules Title="結案作業" Controller="Case" Action="Close" pclass="4"  Value="M305" Icon="fa fa-rss" />
    <Modules Title="案件查詢" Controller="Case" Action="Index" pclass="4"  Value="M306" Icon="fa fa-rss" />
    <Modules Title="案件處理天數一覽表" Controller="Case" Action="Report1" pclass="4" Value="M207" Icon="fa fa-rss" />
    <Modules Title="案件一覽表" Controller="Case" Action="Report2" pclass="4" Value="M209" Icon="fa fa-rss" />
    <Modules Title="展期案件審核" Controller="Case" Action="Extension" pclass="4"  Value="M308" Icon="fa fa-rss" />
  </Modules>



  <Modules Title="首長信箱案件" Controller="" Action="" Value="M0" Icon="fa fa-sitemap">
    <Modules Title="派案作業" Controller="Case" Action="Assign" pclass="1" Value="M001" Icon="fa fa-rss" />
    <Modules Title="案件狀態回復" Controller="Case" Action="Restone" pclass="1" Value="M002" Icon="fa fa-rss" />
    <Modules Title="退文派案" Controller="Case" Action="Goback" pclass="1"  Value="M003" Icon="fa fa-rss" />
    <Modules Title="結案作業" Controller="Case" Action="Close" pclass="1"  Value="M005" Icon="fa fa-rss" />
    <Modules Title="案件查詢" Controller="Case" Action="Index" pclass="1"  Value="M006" Icon="fa fa-rss" />
    <Modules Title="案件處理天數一覽表" Controller="Case" Action="Report1" pclass="1" Value="M007" Icon="fa fa-rss" />
    <Modules Title="案件一覽表" Controller="Case" Action="Report2" pclass="1" Value="M009" Icon="fa fa-rss" />
    <Modules Title="展期案件審核" Controller="Case" Action="Extension" pclass="1"  Value="M008" Icon="fa fa-rss" />
    <Modules Title="案件滿意度調查表" Controller="Case" Action="Survey" pclass="1"  Value="M009" Icon="fa fa-rss" />
    <Modules Title="單位改派" Controller="Case" Action="UnitAssign" pclass="1"  Value="M010" Icon="fa fa-rss" />
    <Modules Title="白名單規則設定" Controller="CaseFilter" Action="Index" pclass="1"  Value="M011" Icon="fa fa-rss" />
    <Modules Title="白名單案件查詢" Controller="Case" Action="Filter" pclass="1"  Value="M012" Icon="fa fa-rss" />
    <Modules Title="免回覆設定" Controller="PoprocsSubType" Action="Index" pclass="1"  Value="M013" Icon="fa fa-rss" />
  </Modules>

  <Modules Title="交通檢舉信箱" Controller="" Action="" Value="T" Icon="fa fa-sitemap">
    <Modules Title="派案作業" Controller="CaseTraffics" Action="Assign" Value="T01" Icon="fa fa-rss" />
    <Modules Title="案件狀態回復" Controller="CaseTraffics" Action="Restone"  Value="T03" Icon="fa fa-rss" />
    <Modules Title="退文派案" Controller="CaseTraffics" Action="Goback" Value="T04" Icon="fa fa-rss" />
    <Modules Title="結案作業" Controller="CaseTraffics" Action="Close"  Value="T05" Icon="fa fa-rss" />
    <Modules Title="案件查詢" Controller="CaseTraffics" Action="Index"  Value="T06" Icon="fa fa-rss" />
    <Modules Title="案件處理天數一覽表" Controller="CaseTraffics" Action="Report1" Value="T11" Icon="fa fa-rss" />
    <Modules Title="案件一覽表" Controller="CaseTraffics" Action="Report2"  Value="T12" Icon="fa fa-rss" />
    <Modules Title="受理民眾檢舉違規項目表" Controller="CaseTraffics" Action="Report4"  Value="T20" Icon="fa fa-rss" />
    <Modules Title="檢舉違規行為態樣表" Controller="CaseTraffics" Action="Report3"  Value="T17" Icon="fa fa-rss" />
    <Modules Title="展期案件審核" Controller="CaseTraffics" Action="Extension"   Value="T08" Icon="fa fa-rss" />
    <Modules Title="單位改派" Controller="CaseTraffics" Action="UnitAssign"   Value="T09" Icon="fa fa-rss" />

    <Modules Title="不舉發原因維護" Controller="TrafficViolationsRejectclass" Action="Index"  Value="T11" Icon="fa fa-rss" />
    <Modules Title="舉發原因維護" Controller="TrafficViolationsClass" Action="Index"  Value="T12" Icon="fa fa-rss" />
    <Modules Title="自動分派承辦人" Controller="Trafficdisdata" Action="Index"  Value="T13" Icon="fa fa-rss" />
    <Modules Title="單位承辦人設定" Controller="TrafficDepartmentdetail" Action="Index"  Value="T14" Icon="fa fa-rss" />
    <Modules Title="違規區域設定" Controller="TrafficRegion" Action="Index"  Value="T15" Icon="fa fa-rss" />
    <Modules Title="違規道路設定" Controller="TrafficRoaddata" Action="Index"  Value="T16" Icon="fa fa-rss" />
    <Modules Title="前台違規事項設定" Controller="TrafficViolationItem" Action="Index"  Value="T19" Icon="fa fa-rss" />
    <Modules Title="案件滿意度調查表" Controller="CaseTraffics" Action="Survey" pclass="1"  Value="T18" Icon="fa fa-rss" />
  </Modules>

  <Modules Title="網路報案案件" Controller="" Action="" Value="M2" Icon="fa fa-sitemap">
    <Modules Title="派案作業" Controller="Case" Action="Assign" pclass="3" Value="M201" Icon="fa fa-rss" />
    <Modules Title="案件狀態回復" Controller="Case" Action="Restone" pclass="3" Value="M202" Icon="fa fa-rss" />
    <Modules Title="退文派案" Controller="Case" Action="Goback" pclass="3"  Value="M203" Icon="fa fa-rss" />
    <Modules Title="結案作業" Controller="Case" Action="Close" pclass="3"  Value="M205" Icon="fa fa-rss" />
    <Modules Title="案件查詢" Controller="Case" Action="Index" pclass="3"  Value="M206" Icon="fa fa-rss" />
    <Modules Title="案件處理天數一覽表" Controller="Case" Action="Report1" pclass="3" Value="M207" Icon="fa fa-rss" />
    <Modules Title="案件一覽表" Controller="Case" Action="Report2" pclass="3" Value="M209" Icon="fa fa-rss" />
    <Modules Title="展期案件審核" Controller="Case" Action="Extension" pclass="3"  Value="M208" Icon="fa fa-rss" />
  </Modules>

  <Modules Title="重大災害通報專區" Controller="" Action="" Value="M4" Icon="fa fa-sitemap">
    <Modules Title="派案作業" Controller="Case" Action="Assign" pclass="5" Value="M401" Icon="fa fa-rss" />
    <Modules Title="案件狀態回復" Controller="Case" Action="Restone" pclass="5" Value="M402" Icon="fa fa-rss" />
    <Modules Title="退文派案" Controller="Case" Action="Goback" pclass="5"  Value="M403" Icon="fa fa-rss" />
    <Modules Title="結案作業" Controller="Case" Action="Close" pclass="5"  Value="M405" Icon="fa fa-rss" />
    <Modules Title="案件查詢" Controller="Case" Action="Index" pclass="5"  Value="M406" Icon="fa fa-rss" />
    <Modules Title="案件處理天數一覽表" Controller="Case" Action="Report1" pclass="5" Value="M407" Icon="fa fa-rss" />
    <Modules Title="案件一覽表" Controller="Case" Action="Report2" pclass="5" Value="M409" Icon="fa fa-rss" />
    <Modules Title="展期案件審核" Controller="Case" Action="Extension" pclass="5"  Value="M408" Icon="fa fa-rss" />
  </Modules>


  <Modules Title="檢舉貪瀆信箱" Controller="" Action="" Value="M1" Icon="fa fa-sitemap">
    <Modules Title="派案作業" Controller="Case" Action="Assign" pclass="2" Value="M101" Icon="fa fa-rss" />
    <Modules Title="案件狀態回復" Controller="Case" Action="Restone" pclass="2" Value="M102" Icon="fa fa-rss" />
    <Modules Title="退文派案" Controller="Case" Action="Goback" pclass="2"  Value="M103" Icon="fa fa-rss" />
    <Modules Title="結案作業" Controller="Case" Action="Close" pclass="2"  Value="M105" Icon="fa fa-rss" />
    <Modules Title="案件查詢" Controller="Case" Action="Index" pclass="2"  Value="M106" Icon="fa fa-rss" />
    <Modules Title="案件處理天數一覽表" Controller="Case" Action="Report1" pclass="2" Value="M207" Icon="fa fa-rss" />
    <Modules Title="案件一覽表" Controller="Case" Action="Report2" pclass="2" Value="M209" Icon="fa fa-rss" />
    <Modules Title="展期案件審核" Controller="Case" Action="Extension" pclass="2"  Value="M108" Icon="fa fa-rss" />
  </Modules>

  

 
  <Modules Title="交通違規簡訊" Controller="" Action=""  Value="X" Icon="fa fa-rss" >
    <Modules Title="不通過原因編輯" Controller="TrafficSMSCarInfoReject" Action="Index"  Value="X1" Icon="fa fa-rss" />
    <Modules Title="交通違規簡訊審核" Controller="TrafficSMS" Action="Index"  Value="X2" Icon="fa fa-rss" />
  </Modules>
  <Modules Title="承辦人作業" Controller="Case" Action="Process"  Value="M4" Icon="fa fa-rss" />
  <Modules Title="交通承辦人作業" Controller="CaseTraffics" Action="Process"  Value="M5" Icon="fa fa-rss" />
  <Modules Title="訊息審核作業" Controller="News" Action="Review"  Value="M6" Icon="fa fa-rss" />

</menu>