

<head>
    <link href="~/Content/all.css" rel="stylesheet" />
</head>
<h2 class="offset-2 col-10   mb-5 indexTitle">權限管理<span class="ml-4">請先選擇角色</span></h2>
<div class="col-10 mx-auto row">
    @*<a href="/role/Manage?roleId=1" class="roleBtn btn mx-3 col">
        <i class="fab fa-keycdn fa-3x d-inlineblock"></i><span class="d-block">總局管理者</span>
    </a>*@

    <a href="/role/Manage?roleId=2" class="roleBtn btn mx-3 col">
        <i class="fas fa-code-branch d-inlineblock fa-3x"></i>
        <span class="d-block">分區管理者</span>
    </a>

    <a href="/role/Manage?roleId=3" class="roleBtn btn mx-3 col">
        <i class="fas fa-school fa-3x d-inlineblock"></i>  <span class="d-block">分局管理者</span>
    </a>

    <a href="/role/Manage?roleId=4" class="roleBtn btn mx-3 col">
        <i class="fas fa-atom d-inlineblock fa-3x"></i><span class="d-block">派出所承辦者</span>
</a>
</div>