@if (Request.IsAuthenticated) {
    <text>
        <i class="icon-user"></i> 您好，@User.Identity.Name ! <a href="/Member/LogOff"><span  class="logout">登出</span></a>
    </text>
} else {

    <a href="@(Url.Action("Login", "Member"))">
        <i class="icon-user"></i>
        <span>登入</span>
    </a>

}
