
@using MvcPaging
@using Tnpd.Helpers


@{
    ViewBag.Title = "案件處理天數一覽表";
   
}

<h2>案件處理天數一覽表</h2>


@using (Html.BeginForm())
{
    <div>
        <span> 承辦單位：</span>  <select id="SearchByCategories1" name="SearchByCategories1" style="font-size: 15px">
        </select>
                   
        <br/> 收件日期:<input type="text" name="SearchByStartDate" value="" class = "datepicker" autocomplete="off"/> ~ <input type="text" name="SearchByEndDate" value="" class = "datepicker" autocomplete="off"/>
    </div>
    <div>
        <input type="submit" value="搜尋" />
    </div>

    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
            $('#SearchByCategories1').append($("<option></option>").attr("value", '').text('請選擇'));
            $('#SearchByCategories2').append($("<option></option>").attr("value", '').text('請選擇'));

            $.getJSON("/units/GetfistUnit").done(function (json) {
                data = json;

                $.each(json,
                    function (i, item) {

                        if (item.Id == $("#hidSearchByCategories1").val()) {

                            $('#SearchByCategories1').append($("<option></option>").attr("value", item.Id)
                                .attr("selected", "selected")
                                .text(item.Subject));
                        } else {
                            $('#SearchByCategories1').append($("<option></option>").attr("value", item.Id)
                                .text(item.Subject));
                        }


                    });

                var cat1id = $('#SearchByCategories1').val();
                $.getJSON("/units/GetUnit/" + cat1id).done(function (json) {
                    data = json;


                    $.each(json,
                        function (i, item) {
                            if (item.Id == $("#hidSearchByCategories2").val()) {
                                $('#SearchByCategories2').append($("<option></option>").attr("value", item.Id).attr("selected", "selected")
                                    .text(item.Subject));
                            } else {
                                $('#SearchByCategories2').append($("<option></option>").attr("value", item.Id)
                                    .text(item.Subject));
                            }


                        });


                });


            });

            $('#SearchByCategories1').change(function () {
                if ($('#SearchByCategories1').val() != '') {
                    $('#SearchByCategories2').children().remove();

                    var id = $('#SearchByCategories1').val();
                    $.getJSON("/units/GetUnit/" + id).done(function (json) {
                        data = json;


                        $.each(json,
                            function (i, item) {
                                $('#SearchByCategories2').append($("<option></option>").attr("value", item.Id)
                                    .text(item.Subject));

                            });


                    });
                } else {
                    $('#SearchByCategories1').children().remove();

                    $('#SearchByCategories1').append($("<option></option>").attr("value", '').text('請選擇'));

                }


            });


        });
    </script>
}   


